@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gradient-to-t from-neutral-900 to-zinc-900 text-gray-200; 
  
}
